*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    /* padding: 10px; */
}
header{
    background-color: rgb(40, 39, 39);
    padding: 10px;
    margin-bottom: 50px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;
}
li{
    font-style: bold;
    gap: 70px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: white;
}
.right{
    position: absolute;
    right: 30px;
}
.rightt{
    position: absolute;
    right: 300px;
}
.righttt{
    position: absolute;
    right: 180px;
}
#logo{
    margin-left: 15px;
}
#about{
    padding: 10px;
    background-color: rgb(51, 51, 51);
    font-size: 20px;
    height: 200px;
    margin-bottom: 50px;
}
#about h2, #generate h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#generate{
    background-color:rgb(51,51,51);
    padding: 12px;
    font-size: 20px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
form{
    margin-left: 50px;
    margin-top: 20px;
}
#generate button{
    background-color: rgb(62, 46, 46);
    width: 65px;
    height: 25px;
    margin-top: 20px;
    margin-left: 80px;
}
input[type='text']{
    margin-bottom: 15px;
    height: 25px;
}
input[type='number']{
    margin-bottom: 15px;
    height: 25px;
}
#ll{
    margin-top: 4px;
    margin-bottom: 60px;
}
/* #container{
    display: none;
} */
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#don-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: none;
}
#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(51,51,51);
    width: 900px;
    height: 600px;
    margin: 0;
    border-radius: 10px;
    z-index: 6;
}
#boxes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.box{
    height: 70px;
    width: 70px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background-color: rgb(205, 13, 13);
    margin-top: 50px;
    cursor: pointer;
    display: none;
}
#result button{
    width: 90px;
    height: 25px;
    margin-top: 50px;

}
#clues{
    position: absolute;
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    z-index: 7;
    border-radius: 10px;
    display: none;
}
#clues h2{
    margin-bottom: 10px;
}
#clues button{
    background-color: rgb(62,46,46);
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: row;
}
.active{
    border: 2px solid white;
}
#reveal_clue{
    width: 95px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hide{
    width: 80px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cluess{
    display: none;
}
#cluess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#buttonss{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}