 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Bubblegum+Sans&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background: linear-gradient(135deg, #4a00e0, #8e2de2);
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    margin-bottom: 50px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 70px;
}
li{
    font-style: bold;
    gap: 70px;
    font-size: 22px;
}
a{
    text-decoration: none;
    color: white;
}
.right{
    position: absolute;
    right: 30px;
}
.rightt{
    position: absolute;
    right: 300px;
}
.righttt{
    position: absolute;
    right: 180px;
}
#logo{
    margin-left: 15px;
    color: rgb(255, 196, 0);
}
#about{
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    font-size: 20px;
    height: 200px;
    margin-bottom: 50px;
}
#about h2, #generate h2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #00e1ff;
}
#generate{
    background-color:rgba(0,0,0,0.4);
    padding: 12px;
    font-size: 20px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
form{
    margin-left: 50px;
    margin-top: 20px;
}
#generate button{
    background-color: #a32bff;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left: 80px;
}
input[type='text']{
    margin-bottom: 15px;
    height: 25px;
}
input[type='number']{
    margin-bottom: 15px;
    height: 25px;
}
#ll{
    margin-top: 4px;
    margin-bottom: 60px;
}
#container{
    position: relative;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#don-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    display: none;
}
#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    width: 900px;
    height: 600px;
    margin: 0;
    border-radius: 10px;
    z-index: 6;
    position: relative;
}
#boxes{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.box{
    height: 70px;
    width: 70px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border: 1px solid #00e1ff;
    margin-top: 50px;
    border-radius: 15px;
    cursor: pointer;
    display: none;
}
#result button{
    width: 100px;
    height: 35px;
    margin-top: 50px;
    background-color: #a32bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
}
#clues{
    position: absolute;
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    z-index: 7;
    border-radius: 10px;
    display: none;
}
#clues h2{
    margin-bottom: 10px;
}
#clues button{
    background-color: #a32bff;
    color: #fff;
    border: none;
    margin: 5px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.active{
    border: 2px solid #00e1ff;
}
#reveal_clue{
    width: 95px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hide{
    width: 80px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cluess{
    display: none;
}
#cluess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#buttonss{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.guess{
    margin-top: 35px;
}
#guess{
    display: none;
    flex-direction: column;
    margin-top: 7px;
}
#anssubmit{
    margin-top: -15px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back a{
    position: absolute;
    top: 20px;
    left: 20px;

}
#submit1{
    padding: 8px 15px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4a00e0;
    color: #fff;
    font-size: 1.2rem;
    width: 100px;
    height: 40px;
}
h1, h2, h3{
    color: rgb(255, 196, 0);
    font-family: "Bubblegum Sans", cursive;
}
label{
    color: #00e1ff;
    font-weight: bold;
    font-family: "Bubblegum Sans", cursive;
}
#radios label{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}